@import "../../../../../../globalStyles/index.scss";

.rental-listing{
    .title{
        span{
            font-family: Regular;
            font-size: rem(17);
            color:$greyish;
        }
    }

.graf{
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
    border:1px solid $pinkish-grey;
    margin-top: rem($spacing-xxl-2);
    margin-bottom: rem($spacing-l);
}

    .content{
        font-family: Regular;
            font-size: rem(16);
            color:$warm-grey;
          
    }

    .form{
        margin-top: rem($spacing-l);
        width:55% ;
        @media(max-width:991px){
            width:100% ;
        }
        .input-form{
     
            label{
                color:$warm-grey;
                font-family: Regular;
                font-size: rem(15);
            }
        }
    }

 .question{
    width:55% ;
    @media(max-width:991px){
        width:100% ;
    }
     p{
         margin:0;
         color:$warm-grey;
                font-family: Regular;
                font-size: rem(15);
     }
 }

 .nextbtn{
    float: right;
    width:55% ;
    @media(max-width:991px){
        width:100% ;
    }
    margin-top: rem($spacing-l);
  @media(max-width:991px){
    margin:rem($spacing-l) 0;
  }
    .cancel{
      svg{
        width:22px;
        height:22px;
      }
      span{
        cursor: pointer;
        font-size: rem(15);
        color:$turquoise-blue;
        font-family: Regular;
      }
    }
  }
  
}