@import '../../../globalStyles/index.scss';

.switchInput{
    
    input{
        outline:none;
        border:none;
        background-color: none;
        width: 110px;
        height: 32px;
        border:1px solid $pinkish-grey;
        text-align: left;
        font-size: rem(15);
        font-family: Regular;
        text-indent:2px;
        cursor: pointer;
        &:hover{
            border: 1px solid $turquoise-blue;
            color:$turquoise-blue;
        }
    }
  button{
      outline:none;
      border:none;
      background-color: none;
      width: 98px;
  height: 58px;
  border:1px solid $pinkish-grey;
  background-color: white;
  color:$greyish-brown;
  font-size:18px;
   &:hover{
       border: 1px solid $turquoise-blue;
       color:$turquoise-blue;
   }
  }
}