@import '../../../globalStyles/index.scss';


   
.custom-dark-title{
    @extend %font-medium;
    color:white;
    text-decoration: none;
    padding:0 em($spacing-s,15);
    border-left:1px solid white !important;
 
    &:hover{
        text-decoration: none;
        color:$turquoise-blue;
    }
    &:active{
        color: $turquoise-blue;
    }
    @media(max-width: 1200px){
        font-size: rem(16);
        padding:0 em($spacing-xs,15);
    }
 
}
.custom-light-title{
    @extend %font-medium;
    color:$greyish-brown;
    text-decoration: none;
    padding:0 em($spacing-s,15);
    border-left:1px solid $greyish-brown !important;
    &:hover{
        text-decoration: none;
        color: $turquoise-blue;
    }
    @media(max-width: 1200px){
        font-size: rem(16);
        padding:0 em($spacing-xs,15);
    }
}
.customDrop{
    a{
        display: block;
        width: 100%;
        padding: .25rem 1rem;
        clear: both;
        font-size: rem(16);
        color:$warm-grey;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        text-align: center;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color:$turquoise-blue;
        }
       
    }
    &:hover{
        text-decoration: none;
        color:$turquoise-blue;
    }
  
}  