@import '../../../../globalStyles/index.scss';

@media(max-width:600px){
    .form{
        display: flex;
        flex-direction: column;
       height: 75vh;
    }
}


.title{
    color:$greyish-brown;
   font-size: rem(18);
   font-family:SEmiBoldFont;
   @media(max-width: 700px){
       display: none;
   }
}
.divider{
    color:rgba(0, 0, 0, 0.16);   
    opacity: 0.75;
    text-align: center;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        height: 2px;
        width: 180px;
        background-color:rgba(0, 0, 0, 0.16);
        top:55%;
        right:0;
        @media(max-width: 476px){
            width: 160px;
        }
        @media(max-width:380px){
            width: 140px;
        }
        @media(max-width:350px){
            width: 120px;
        }
    }
    &::before{
        content:'';
        position: absolute;
        height: 2px;
        width: 180px;
        background-color:rgba(0, 0, 0, 0.16);
        top:55%;
        left:0;
        @media(max-width: 476px){
            width: 160px;
        }
        @media(max-width:380px){
            width: 140px;
        }
        @media(max-width:350px){
            width: 120px;
        }
    }
}
.forgotPass{
    color:$turquoise-blue;
    text-decoration: none;
    font-size: rem(17);
    font-family: Regular;
    &:hover{
        color:$turquoise-blue;
        text-decoration: none;
        font-size: rem(17);
        font-family: Regular;
    }
    @media(max-width: 450px){
        font-size: rem(13);
    }
}