@import "../../../../../../globalStyles/index.scss";
.header{
    color:$greyish-brown;
    font-size: rem(19);
    font-family: SemiBoldFont;
    margin-top:rem($spacing-l);
}

.radioButton{
    margin-top:rem($spacing-s);
}

.text-area{
    margin-top:116px;
    span{
        color:$greyish-brown;
        font-size: rem(18);
        font-family: SemiBoldFont;
        margin-bottom: rem($spacing-xs);
    }
    label{
        color:$greyish-brown;
        font-size: rem(15);
        font-family: Regular;
        margin:0;
    }
    textarea{
        border:1px solid $pinkish-grey;
        color:$greyish-brown;
        font-family: Regular;
        font-size: rem(17);
        line-height: 1.7;
  max-height: 100px;
  min-height: 90px;
  padding: 13px 10px 9px;
        border-radius: 5px;
        &:focus{
            border:none;
            box-shadow: none;
            outline: none;
            border:2px solid $pinkish-grey;
        }
    }
}