@import '../../../../../globalStyles/index.scss';


.carousel{
    width: 100%;
    padding:0;
    margin:0;
  position: relative;
   .img-slider{
       min-width: 100%;
       height: 327px;
   }
.arrow{
position: absolute;
z-index:2;
right:calc(20% - 80px);
top:60px;
width: 40px;
height: 40px;
cursor: pointer;
transition: transform .3s linear;
&:hover{
   transform: scale(1.2);
}
}
}