@import '../../../../globalStyles/index.scss';
.header{
    color:$greyish-brown;
    font-size: rem(20);
    font-family: SemiBoldFont;
    margin-top:rem($spacing-l);
}

.size{
    color:$greyish-brown;
    font-size: rem(17);
    font-family: Regular;
    margin-top:rem($spacing-l);
    .amount{
      font-size: rem(19);
    }
}
.feature{
    span{
        color:$greyish-brown;
        font-size: rem(17);
        font-family: Regular;
    }

 
}
.radio-wrapper{
  @media(max-width: 571px){
   margin-top:6rem;
  }
}
.nextBtn{
 height: 50vh;
 width: 75%;
 @media(max-width: 571px){
   height: 15vh;
   width: 100%;
 }
}
.slider {
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    margin-top: em($spacing-l,18);
    background-color: $pinkish-grey;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background: linear-gradient(
      to right,
      rgb(0, 187, 216) 0%,
      rgb(0, 187, 216) 50%,
      rgb(255, 255, 255) 50%,
      rgb(199, 199, 199) 0%
    );
 
  }
  .slider:focus {
    outline: none;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 38px;
    margin: -10px 0;
    width: 38px;
    cursor: pointer;
    border: 6px solid $turquoise-blue;
    background: white;
    border-radius: 50%;
  }
  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    margin: -10px 0;
    width: 30px;
    cursor: pointer;
    border: none;
    background: $turquoise-blue;
    border-radius: 50%;
  }
  .slider::range-progress {
    height: 20px;
    border-radius: 10px 0 0 10px;
    background-color: $turquoise-blue;
    border: 2px solid $turquoise-blue;
  }
  .slider::-ms-fill-lower {
    background: $turquoise-blue;
    border-radius: 10px;
  }

  .radio-button{
    label{
      font-size:rem(17) !important;
    }
    svg{
        margin-left:0.5rem;
        height: 35px;
        width: 35px;
    }
 }

 .cancel{
   font-size: rem(15);
   color:$turquoise-blue;
   font-family: Regular;
   cursor: pointer;
 
 }