@import "../../../../../globalStyles/index.scss";

.nearby-section {
  margin-top: rem($spacing-m);
  .title {
    display: flex;
    align-items: center;
    margin-bottom: rem($spacing-xs);
    .circle {
      width: 16px;
      height: 16px;
      background-color: $pinkish-grey;
      border-radius: 50%;
    }

    p {
      font-family: SemiBoldFont;
      font-size: rem(17);
      color: #6e6e6e;
      text-align: left;
      margin-bottom: 0;
      margin-left: rem($spacing-xxs);
    }
  }
}
