
.DropdownRoot{
    transform-origin: 0 0;
  animation-name: DropdownRoot;
  animation-duration: 300ms;
  /* use 'forwards' to prevent flicker on leave animation */
  animation-fill-mode: forwards;
  /* flex styles will center the caret child component */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -20px;
  .caret{
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white;
    z-index: 1;
    position: relative;
 
  }
}
.DropdownBackground{
    transform-origin: 0 0;
    background-color: var(--white);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1);
}
.InvertedDiv{
    position: relative;
    top: 0;
    left: 0;
    &:first-of-type {
      z-index: 1;
    }
    &:not(:first-of-type) {
      z-index: -1;
    }
}
.AltBackground{
    background-color:grey;
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transform-origin: 0 0;
    z-index: 0;
    transition: transform 3ms;
}


@keyframes DropdownRoot{
    from {
        transform:rotateX(0);
        opacity:1;
      }
      to {
        transform: rotateX(-15deg);
        opacity:0;
      }
}